/* @font-face{
    font-family: moreSugarThin;
    src: local('MoreSugar-Thin'), url(../../font/MoreSugar-Thin.ttf) format('truetype');
} */

#profile-img{
    width: 100%;
    height: 100%;
}

/* h4,h5 {
    font-family: moreSugarThin;
} */

h4, h5, p{
    color: white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-panel{
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: #426d49;  Not working, needed to inline style  */
}

#profile-img-div {
    padding-top: 20px;
}

.fieldLabelTxt {
    color: cadetblue;
}

.btn {
    margin: 20px;
}