@font-face {
  font-family: moreSugarThin;
  src: local("MoreSugar-Thin"),
    url(../../font/MoreSugar-Thin.ttf) format("truetype");
}

h4,
h5 {
  font-family: moreSugarThin;
}

h4,
h5,
p {
  color: white;
}

.fieldLabelTxt {
  color: cadetblue;
}
