html, body{
    height: 100%
}

#root {
    height: 100%;
}

#main-splash {
    background-color: #416e48;
    color: whitesmoke;
    width: 100%;
    display: flex;    
    flex-direction: column;
    min-height: 100%;
}

#close-button {
    text-align: right;
    color: cornsilk;
}

#logo {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#message {
    padding: 10px;
    text-align: center;
}

#message p b {
    color: orange;
}